@model AsegurarSA.Domain.Entities.Cliente

@{
    ViewBag.Title = "Create";
}
<head>
    <script>
        $('#SelectEmpresa').change(function() {
           $(document).getElementById("empresaId").value = $(this).val();
        });
    </script>
</head>
<h2>Clientes</h2>
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-user"></i>
                </span>
                <h5>Clientes</h5>
            </div>
            <div class="widget-content nopadding">
                @using (Html.BeginForm("Editar", "Cliente", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.ClienteId)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Apellido, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Domicilio, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Domicilio, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                       <div class="form-group">
                        @Html.Label("Empresa", new { @class = "control-label" })
                        <div class="controls">
                        @Html.DropDownList("empresa",new SelectList(
                              new List<Object>{ 
                                   new { value = 0 , text = ""  },
                                   new { value = 1 , text = "Claro" },
                                   new { value = 2 , text = "Personal"},
                                   new { value = 3 , text = "Movistar"}
                                },"value","text",0),new {@class="form-control dropdown"})
                        </div>
                    </div>          
                  
                    <div class="form-group">
                        @Html.LabelFor(model => model.Telefono1, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Telefono1, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Telefono2, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Telefono2, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
                        <a href="/Cliente" class="text-danger" type="button">Cancelar</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#sidebar .active').removeClass('active');
        $('#sidebar #empleado').addClass('active open');
        
        $('.datepicker').datepicker();
    });
</>
