@model IEnumerable<AsegurarSA.Domain.Entities.Cliente>

@{
    ViewBag.Title = "Lista de clientes";
}

<div class="row">
    <div class="col-xs-12">

        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="glyphicon glyphicon-th"></i>
                </span>
                <h5>Lista de clientes</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-striped table-hover text-left">
                    <thead>
                        <tr class="t-left">
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Domicilio</th>
                            <th>Telefono principal</th>
                            <th>Telefono auxiliar</th>

                            <th style="width: 6px;"></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model)
                        {
                            <tr>
                                <td>@c.Apellido</td>
                                <td>@c.Nombre</td>
                                <td>@c.Domicilio</td>
                                <td>@c.Telefono1</td>
                                <td>@c.Telefono2</td>
                                <td><a href="@Url.Action("Modificar", "Cliente", new { clienteId = @c.ClienteId })"><i class="glyphicon glyphicon-edit"></i></a></td>
                                <td><a href="@Url.Action("ListaAlarmaCliente", "Alarma", new { clienteId = @c.ClienteId })"><i class="glyphicon glyphicon-bell" /></a></td>
                                <td><a href="@Url.Action("Delete", "Cliente", new { clienteId = @c.ClienteId })"><i class="glyphicon glyphicon-remove" /></a></td>
                                <td><a href="@Url.Action("Grabaciones", "Grabacion", new { clienteId = @c.ClienteId })"><i class="glyphicon glyphicon-play" /></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="">
            <a href="/Cliente/Create"><i class="" /><i class="glyphicon glyphicon-plus"></i>Agregar nuevo cliente</a>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#sidebar .active').removeClass('active');
        $('#sidebar #cliente').addClass('active open');
        $('#sidebar #cliente #list').addClass('active');
    });
</script>


